# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual env
.venv/

# Build
build/
dist/
*.egg-info/

# Generated data
data/processed/
reports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db